<!-- NAVBAR only when user is authenticated and logged in -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class=" is-primary is-fullheight">

        <!-- <div class="background-and-logo">
            <div class="" id = 'background-img'>
                <img src="{{url_for('static', filename='img/background/ttsh_main.png')}}" style="height: 100vh; width: 100vw; position: absolute;" />
            </div>
            <div class="" id = 'logo-img'>
                <img src="{{url_for('static', filename='img/background/ttsh_logo.png')}}" style="height:15%; width: 15%; position: relative; margin-top: 20px; margin-left: 40px;" />
            </div>
        </div> -->

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('auth.profile') }}" class="navbar-item" style="background-color: red;">
                                Profile
                            </a>
                            <a href="{{ url_for('auth.calendar') }}" class="navbar-item" style="background-color: green;">
                                Calendar
                            </a>
                            <a href="{{ url_for('auth.index') }}" class="navbar-item" style="background-color: blue;">
                                Logout
                            </a>      
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item" style="background-color: yellow;">
                                Sign-Up
                            </a>                 
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>    
        </div>

        
    </section>
</body>
</html>
