<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>


<body>
    <section class="hero is-primary is-fullheight" style="position:aboslute;">

        <div class="background-and-logo">
            <div class="" id = 'background-img'>
                <img src="{{url_for('static', filename='img/background/ttsh_main.png')}}" style="height: 100vh; width: 100vw; position: absolute;" />
            </div>
            <div class="" id = 'logo-img'>
                <img src="{{url_for('static', filename='img/background/ttsh_logo.png')}}" style="height:15%; width: 15%; position: relative; margin-top: 20px; margin-left: 40px;" />
            </div>
        </div>

        <div class="column is-4 is-offset-4" style="background-color:white; margin:auto; position:relative;">
            <h3 class="title" style="font-weight: bold; color:black; text-align: center;">Login</h3>


            <div class="box">
                <form method="POST" action="/login">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                        </div>
                    </div>
        
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <!-- <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div> -->
                    <button class="button is-block is-info is-large is-fullwidth" style="background-color: brown;">Login</button>
                    
                    <button class="button is-block is-info is-large is-fullwidth signup-margin" style=" margin-top: 10px; ">
                            <a href="{{ url_for('auth.signup') }}">Sign Up</a> </button>
                </form>

                <div id="wrong-details" style="color:red; text-align: center; font-weight: bold; display:none;">
                    <body > ID/Password is Incorrect!</body>
                </div>
            </div>
        </div>        
    </section>
    
</body>

<script>

  // IF PASSWORD IS WRONG
  var ohno = '{{wrong}}'
  if (ohno == "True"){
      document.getElementById("wrong-details").style.display = ""
  }

</script>
</html>
