{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<h1 class="title" id="username">
  Welcome, user!
</h1>

<body>
  
  <div id="leave_count">
    Your leave count this year: ____
  </div>


  <div id="leave_count">
    blahblah : ____
  </div>
   
</body>

<script>
  console.log("testing 123")
  var user = '{{user}}'
  console.log(user)
  // var replace_username = document.getElementById('username').innerText
  // console.log(replace_username)
  document.getElementById('username').innerText = `Welcome, ${user}`
  // console.log(replace_username)
  console.log(document.getElementById('username').innerText)

  // var someSession = '<%= Session["user"].ToString() %>';
  // alert(someSession)

</script>

{% endblock %}
